-#  Copyright (c) 2012-2019, GLP Schweiz. This file is part of
-#  hitobito_glp and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_glp.


-# encoding: utf-8

-#  Copyright (c) 2012-2018, Grünliberale Partei Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= render_attrs(entry, :place_of_origin)
= render_attrs(entry, :occupation)
= render_attrs(entry, :joined_at)
= render_attrs(entry, :left_at)
= render_attrs(entry, :preferred_language)
= render_attrs(entry, :paperless)
