<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @welcome %></p>
    <p>Kategorie: <%= @category %></p>
    <p>Sprache:   <%= @preferred_language %></p>
    <p><%= @person.last_name %></p>
    <p><%= @person.email %></p>
    <p><%= @person.zip_code %></p>
    <p><%= I18n.t('external_form_js.jglp') if @jglp %></p>
  </body>
</html>
