<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%="#{@person.first_name} #{@person.last_name}"%> hat seine PLZ geändert. Bitte Zuordnung überprüfen.
    </p>
    <p><%= @person.first_name %></p>
    <p><%= @person.last_name %></p>
    <p><%= @person.email %></p>
    <p><%= @person.zip_code %></p>
  </body>
</html>
