-first_login = params[:context] == 'first_login'

-title t(first_login ? 'layouts.unauthorized.first_password' : 'layouts.unauthorized.forgot_password')

= standard_form(resource, {url: password_path(resource_name)}) do |f|
  = f.error_messages
  = f.labeled(:email) { f.input_field(:email) }
  = f.indented submit_button(f,t(first_login ? '.set_password_button' : '.reset_password_button'))

  = f.indented do
    = link_to t('devise.sessions.new.sign_in'), new_person_session_path
