- form_url = params[:oauth] == 'true' ? person_session_path(oauth: true) : person_session_path

= standard_form(resource, {url: form_url}) do |f|
  = f.error_messages
  = f.labeled_input_field(:email, autofocus: true)
  = f.labeled_input_field(:password)
  = f.labeled_boolean_field(:remember_me)
  = f.indented(submit_button(f, t('.sign_in')))
  = f.indented do
    = link_to t('layouts.unauthorized.need_confirmation_email'), new_person_confirmation_path
    |
    = link_to t('layouts.unauthorized.forgot_password'), new_person_password_path
